## 환경 초기 설정

In [ ]:
# User: Please enter your Project ID in this cell.
PROJECT_ID = 'your-gcp-project' # <-- ENTER YOUR ACTUAL PROJECT ID HERE!

# Verify that PROJECT_ID is not empty. If it is, raise an error.
if not PROJECT_ID:
    raise ValueError("ERROR: PROJECT_ID is not set. Please enter your Project ID above.")

print(f"Project ID set to: {PROJECT_ID}")

이제 이 셀을 실행하여 태스크 3 환경을 초기화합니다. 이 셀은 태스크 3에 필요한 라이브러리를 가져오고, BigQuery 클라이언트를 초기화하며, 사용할 주요 변수(테이블 ID 등)를 정의합니다.

In [ ]:
from google.cloud import bigquery
import pandas as pd
import pandas_gbq
from IPython.display import display

# Ensure PROJECT_ID has been defined in the cell above.
# You must run the 'Set Your Project ID' cell above before running this one.
if 'PROJECT_ID' not in locals() or not PROJECT_ID:
    raise ValueError("ERROR: PROJECT_ID is not set. Please run the 'Set Your Project ID' cell above first.")

client = bigquery.Client(project=PROJECT_ID, location="us-central1") # Explicitly pass project argument here

DATASET_ID = 'cymbal'
GEMINI_MODEL_NAME = f'{PROJECT_ID}.{DATASET_ID}.gemini_flash_model'

print(f"BigQuery Client Initialized for Project ID: {PROJECT_ID}")

def run_bq_query(sql: str, client: bigquery.Client):
    try:
        query_job = client.query(sql)
        print(f"Job {query_job.job_id} in state {query_job.state}")
        if query_job.statement_type == 'SELECT':
            df = query_job.to_dataframe()
            print(f"Query complete. Fetched {len(df)} rows.")
            return df
        else:
            query_job.result()
            print(f"Query for statement type {query_job.statement_type} complete.")
            return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None

## 불만족 리뷰 고객 식별
### 이 쿼리는 'negative' 혹은 'neutral' 로 분류된 리뷰를 남긴 고객을 식별합니다.

In [ ]:
sql_get_negative = f"""

CREATE OR REPLACE TABLE `cymbal.negative_customers_list` AS
SELECT
    customer_id
FROM
    `cymbal.final_customer_insights`
WHERE
    ((JSON_EXTRACT_SCALAR(sentiment_json_string, '$.sentiment') = 'negative') OR (JSON_EXTRACT_SCALAR(sentiment_json_string, '$.sentiment') = 'neutral'))
GROUP BY customer_id;
"""
df_negative_customers = run_bq_query(sql_get_negative, client)
if df_negative_customers is not None:
    display(df_negative_customers)

## 불만족 고객 테이블 확인

In [ ]:
sql_show_table = "SELECT * FROM `cymbal.negative_customers_list` LIMIT 5;"

print("Fetching data from the new table...")
df_new_table_contents = run_bq_query(sql_show_table, client)

if df_new_table_contents is not None:
    display(df_new_table_contents)

## 불만족 고객의 세그먼트 및 지리적 데이터 검색
### 이 쿼리는 불만족 고객의 페르소나 및 지리적 정보를 수집합니다.

In [ ]:
sql_create_negative_segment_data = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.negative_customer_segment_data` AS
SELECT
    ncl.customer_id,
    t1.persona_age_group_profile,
    t2.address_city
FROM
    `{DATASET_ID}.negative_customers_list` AS ncl
JOIN
    `{DATASET_ID}.final_customer_insights` AS t1 ON ncl.customer_id = t1.customer_id
JOIN
    `{DATASET_ID}.customers` AS t2 ON ncl.customer_id = t2.customer_id;
"""

run_bq_query(sql_create_negative_segment_data, client)
print("✅ negative_customer_segment_data 테이블 생성 완료.")

## 불만족 고객 정보 테이블 확인

In [ ]:
sql_show_table = "SELECT * FROM `cymbal.negative_customer_segment_data` LIMIT 5;"

print("Fetching data from the new table...")
df_new_table_contents = run_bq_query(sql_show_table, client)

if df_new_table_contents is not None:
    display(df_new_table_contents)

## 세그먼트, 도시별 인기 제품 추출

### 이 쿼리는 세그먼트별 고객들이 많이 구입한 상품을 수집합니다.

In [ ]:
sql_create_segment_top_products = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.segment_top_products_ranked` AS
WITH SegmentProductsRanked AS (
    SELECT
        fci.persona_age_group_profile,
        cre.productId,
        COUNT(cre.productId) AS purchase_count,
        ROW_NUMBER() OVER(PARTITION BY fci.persona_age_group_profile ORDER BY COUNT(cre.productId) DESC) AS rn
    FROM
        `{DATASET_ID}.final_customer_insights` AS fci
    JOIN
        `{DATASET_ID}.customer_reviews_external` AS cre
        ON fci.customer_id = cre.customer_id
    WHERE
        cre.productId IS NOT NULL
    GROUP BY
        fci.persona_age_group_profile, cre.productId
)
SELECT
    persona_age_group_profile,
    MAX(CASE WHEN rn = 1 THEN productId END) AS segment_top1_product,
    MAX(CASE WHEN rn = 2 THEN productId END) AS segment_top2_product
FROM
    SegmentProductsRanked
WHERE
    rn <= 2
GROUP BY
    persona_age_group_profile;
"""

run_bq_query(sql_create_segment_top_products, client)
print("✅ segment_top_products_ranked 테이블 생성 완료.")

### 세그먼트별 인기 상품 테이블 확인

In [ ]:
sql_show_table = "SELECT * FROM `cymbal.segment_top_products_ranked` LIMIT 5;"

print("Fetching data from the new table...")
df_new_table_contents = run_bq_query(sql_show_table, client)

if df_new_table_contents is not None:
    display(df_new_table_contents)

### 이 쿼리는 도시별 고객들이 많이 구입한 상품을 수집합니다.

In [ ]:
sql_create_city_top_products = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.city_top_products_ranked` AS
WITH CityProductsRanked AS (
    SELECT
        c.address_city,
        cre.productId,
        COUNT(cre.productId) AS purchase_count,
        ROW_NUMBER() OVER(PARTITION BY c.address_city ORDER BY COUNT(cre.productId) DESC) AS rn
    FROM
        `{DATASET_ID}.customers` AS c
    JOIN
        `{DATASET_ID}.customer_reviews_external` AS cre
        ON c.customer_id = cre.customer_id
    WHERE
        cre.productId IS NOT NULL
    GROUP BY
        c.address_city, cre.productId
)
SELECT
    address_city,
    MAX(CASE WHEN rn = 1 THEN productId END) AS city_top1_product,
    MAX(CASE WHEN rn = 2 THEN productId END) AS city_top2_product
FROM
    CityProductsRanked
WHERE
    rn <= 2
GROUP BY
    address_city;
"""

run_bq_query(sql_create_city_top_products, client)
print("✅ city_top_products_ranked 테이블 생성 완료.")

### 도시별 인기 상품 테이블 확인

In [ ]:
sql_show_table = "SELECT * FROM `cymbal.city_top_products_ranked` LIMIT 5;"

print("Fetching data from the new table...")
df_new_table_contents = run_bq_query(sql_show_table, client)

if df_new_table_contents is not None:
    display(df_new_table_contents)

In [ ]:
sql_create_candidate_products = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.temp_candidate_products_list` AS
SELECT
    ncl.customer_id,
    c.email,
    c.first_name,
    fci.persona_age_group_profile AS segment,
    ARRAY<STRING>[
        CAST(t_seg.segment_top1_product AS STRING),
        CAST(t_seg.segment_top2_product AS STRING),
        CAST(t_city.city_top1_product AS STRING),
        CAST(t_city.city_top2_product AS STRING)
    ] AS candidate_products
FROM
    `{DATASET_ID}.negative_customers_list` AS ncl
JOIN
    `{DATASET_ID}.final_customer_insights` AS fci
    ON ncl.customer_id = fci.customer_id
JOIN
    `{DATASET_ID}.customers` AS c
    ON ncl.customer_id = c.customer_id
LEFT JOIN
    `{DATASET_ID}.segment_top_products_ranked` AS t_seg
    ON fci.persona_age_group_profile = t_seg.persona_age_group_profile
LEFT JOIN
    `{DATASET_ID}.city_top_products_ranked` AS t_city
    ON c.address_city = t_city.address_city
WHERE
    fci.persona_age_group_profile IS NOT NULL
    AND c.address_city IS NOT NULL;
"""

run_bq_query(sql_create_candidate_products, client)
print(f"✅ 1단계 완료: `{PROJECT_ID}.{DATASET_ID}.temp_candidate_products_list` 생성.")

## 최종 추천 상품 테이블 생성
### 세그먼트, 지역별 추천을 고객이 리뷰한 상품과의 중복을 제외한 3가지 상품으로 최종 결정합니다.

고객의 지역 기반, 세그먼트 기반 추천 상품 4가지를 하나의 임시 테이블로 합칩니다.

In [ ]:
sql_create_candidate_products = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.temp_candidate_products_list` AS
SELECT
    ncl.customer_id,
    c.email,
    c.first_name,
    fci.persona_age_group_profile AS segment,
    ARRAY<STRING>[
        CAST(t_seg.segment_top1_product AS STRING),
        CAST(t_seg.segment_top2_product AS STRING),
        CAST(t_city.city_top1_product AS STRING),
        CAST(t_city.city_top2_product AS STRING)
    ] AS candidate_products -- 총 4개의 후보 상품 배열 (모두 STRING 타입으로 통일)
FROM
    `{DATASET_ID}.negative_customers_list` AS ncl
JOIN
    `{DATASET_ID}.final_customer_insights` AS fci
    ON ncl.customer_id = fci.customer_id
JOIN
    `{DATASET_ID}.customers` AS c
    ON ncl.customer_id = c.customer_id
LEFT JOIN
    `{DATASET_ID}.segment_top_products_ranked` AS t_seg
    ON fci.persona_age_group_profile = t_seg.persona_age_group_profile
LEFT JOIN
    `{DATASET_ID}.city_top_products_ranked` AS t_city
    ON c.address_city = t_city.address_city
WHERE
    fci.persona_age_group_profile IS NOT NULL
    AND c.address_city IS NOT NULL;
"""
run_bq_query(sql_create_candidate_products, client)
print(f"✅ `{PROJECT_ID}.{DATASET_ID}.temp_candidate_products_list` 생성 완료.")

임시 테이블에서 고객이 리뷰한 상품이 추천된 경우 추천에서 제외하고, 아닌 경우 도시 기반의 두 번째 추천 상품을 제외합니다.

In [ ]:
sql_create_final_recommendation_array = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.temp_final_recommendation_array` AS
WITH ExpandedCandidates AS (
    SELECT
        t1.customer_id,
        t1.email,
        t1.first_name,
        t1.segment,
        t_candidate_product AS candidate_product_item
    FROM
        `{DATASET_ID}.temp_candidate_products_list` AS t1,
        UNNEST(t1.candidate_products) AS t_candidate_product
),
PurchasedProductsExpanded AS (
    SELECT DISTINCT
        customer_id,
        CAST(productId AS STRING) AS purchased_product_item
    FROM
        `{DATASET_ID}.customer_reviews_external`
    WHERE
        productId IS NOT NULL
),
ExcludedProducts AS (
    SELECT
        ec.customer_id,
        ec.email,
        ec.first_name,
        ec.segment,
        ec.candidate_product_item,
        CASE
            WHEN ppe.purchased_product_item IS NULL THEN ec.candidate_product_item
            ELSE NULL
        END AS recommended_product_item_if_new
    FROM
        ExpandedCandidates AS ec
    LEFT JOIN
        PurchasedProductsExpanded AS ppe
        ON ec.customer_id = ppe.customer_id
        AND ec.candidate_product_item = ppe.purchased_product_item
    GROUP BY 1, 2, 3, 4, 5, ppe.purchased_product_item
),
FinalCandidates AS (
    SELECT
        ep.customer_id,
        ep.email,
        ep.first_name,
        ep.segment,
        ARRAY_AGG(recommended_product_item_if_new IGNORE NULLS ORDER BY
            -- 상품 선정 우선순위: Segment Top 1, Segment Top 2, City Top 1
            CASE
                WHEN recommended_product_item_if_new = CAST(t_city.city_top1_product AS STRING) THEN 3
                WHEN recommended_product_item_if_new = CAST(t_seg.segment_top2_product AS STRING) THEN 2
                WHEN recommended_product_item_if_new = CAST(t_seg.segment_top1_product AS STRING) THEN 1
                ELSE 4
            END
        ) AS final_recommended_products_with_exclusion
    FROM
        ExcludedProducts AS ep
    JOIN
        `{DATASET_ID}.segment_top_products_ranked` AS t_seg ON ep.segment = t_seg.persona_age_group_profile
    JOIN
        `{DATASET_ID}.customers` AS c ON ep.customer_id = c.customer_id
    JOIN
        `{DATASET_ID}.city_top_products_ranked` AS t_city ON c.address_city = t_city.address_city
    GROUP BY 1, 2, 3, 4
)
SELECT
    customer_id,
    email,
    segment,
    first_name,
    final_recommended_products_with_exclusion AS final_products_array
FROM
    FinalCandidates;
"""

run_bq_query(sql_create_final_recommendation_array, client)
print(f"✅ `{PROJECT_ID}.{DATASET_ID}.temp_final_recommendation_array` 생성 완료.")

## 최종 추천 상품 테이블 정리 및 저장

In [ ]:
sql_create_final_recommendations = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.final_personalized_recommendations` AS
SELECT
    customer_id,
    first_name as customer_name,
    email as customer_email,
    segment,
    final_products_array[OFFSET(0)] AS product1,
    final_products_array[OFFSET(1)] AS product2,
    final_products_array[OFFSET(2)] AS product3
FROM
    `{DATASET_ID}.temp_final_recommendation_array`;
"""

run_bq_query(sql_create_final_recommendations, client)
print(f"✅ `{PROJECT_ID}.{DATASET_ID}.final_personalized_recommendations` 테이블 생성 완료.")

### 추천 상품 테이블 확인

In [ ]:
print("\n--- 최종 추천 결과 테이블 미리보기 ---")
df_final_recs = run_bq_query(f"SELECT * FROM `{PROJECT_ID}.{DATASET_ID}.final_personalized_recommendations` LIMIT 5", client)
if df_final_recs is not None:
    display(df_final_recs)

## Gemini로 개인화된 추천 상품 평가

추천된 상품의 상품 이름과 카테고리, 고객의 세그먼트 정보를 불러와 하나의 테이블에 저장합니다.

In [ ]:
sql_create_product_details_table = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{DATASET_ID}.temp_recommendation_details` AS
WITH ProductsExpanded AS (
    SELECT
        customer_id,
        email,
        first_name,
        segment,
        t_prod AS product_id,
        t_offset AS rank
    FROM
        `{DATASET_ID}.temp_final_recommendation_array`,
        UNNEST(final_products_array) AS t_prod WITH OFFSET AS t_offset
    WHERE
        t_prod IS NOT NULL AND t_offset < 3
)
SELECT
    pe.customer_id,
    pe.email,
    pe.first_name,
    pe.segment,
    pe.rank + 1 AS recommendation_rank,
    p.title AS product_title,
    p.categories AS product_categories,
    t_analysis.analysis AS gemini_persona_analysis
FROM
    ProductsExpanded AS pe
JOIN
    `{DATASET_ID}.products` AS p
    ON pe.product_id = CAST(p.productId AS STRING)
JOIN
    `{DATASET_ID}.segment_level_gemini_analysis` AS t_analysis
    ON pe.segment = t_analysis.profile_name
ORDER BY
    pe.customer_id, recommendation_rank;
"""

run_bq_query(sql_create_product_details_table, client)
print(f"✅ `{PROJECT_ID}.{DATASET_ID}.temp_recommendation_details` 테이블 생성 완료")

Gemini를 활용해 고객 세그먼트, 상품 이름, 카테고리를 바탕으로 추천 적합도 평가를 수행합니다.

In [ ]:
GEMINI_EVALUATION_PROMPT_TEMPLATE = """
당신은 고객 세그먼트 분석가입니다. 다음 정보를 기반으로, 추천 상품이 고객 세그먼트 페르소나에 얼마나 적합한지 평가하는 JSON 객체를 생성하세요.

1.  고객 세그먼트 페르소나 (분석 결과): {persona_analysis}
2.  추천 상품 이름: {product_title}
3.  추천 상품 카테고리: {product_categories}

JSON 형식 제약조건:
* "product_title" (상품 이름)
* "product_categories" (상품 카테고리)
* "compatibility_score" (페르소나 대비 적합성 점수, 1에서 100 사이의 정수)
* "reasoning" (점수를 부여한 근거, 50단어 이내)
* 출력은 JSON 객체 하나여야 합니다.
"""

TEMP_EVAL_PROMPT_TABLE_ID = "temp_gemini_evaluation_prompts"
TEMP_EVAL_TABLE = f"{PROJECT_ID}.{DATASET_ID}.{TEMP_EVAL_PROMPT_TABLE_ID}"

sql_get_eval_data = f"SELECT customer_id, recommendation_rank, product_title, product_categories, gemini_persona_analysis FROM `{DATASET_ID}.temp_recommendation_details`"
df_eval_data = run_bq_query(sql_get_eval_data, client)

if df_eval_data is not None and not df_eval_data.empty:
    prompts_df_eval = pd.DataFrame({
        'customer_id': df_eval_data['customer_id'],
        'recommendation_rank': df_eval_data['recommendation_rank'],
        'product_title': df_eval_data['product_title'],
        'prompt': df_eval_data.apply(
            lambda row: GEMINI_EVALUATION_PROMPT_TEMPLATE.format(
                persona_analysis=row['gemini_persona_analysis'],
                product_title=row['product_title'],
                product_categories=row['product_categories']
            ), axis=1
        )
    })

    pandas_gbq.to_gbq(
        prompts_df_eval,
        f'{DATASET_ID}.{TEMP_EVAL_PROMPT_TABLE_ID}',
        project_id=PROJECT_ID,
        if_exists='replace',
        location='us-central1'
    )
else:
    print("⚠️ 평가 프롬프트를 생성할 상품 데이터가 없습니다.")

평가 결과를 정리해 테이블에 저장합니다.

In [ ]:
table_id_evaluation_output = f"{DATASET_ID}.gemini_recommendation_evaluation"
TEMP_EVAL_TABLE = f"{PROJECT_ID}.{DATASET_ID}.{TEMP_EVAL_PROMPT_TABLE_ID}"

sql_batch_evaluation = f"""
CREATE OR REPLACE TABLE `{PROJECT_ID}.{table_id_evaluation_output}` AS
WITH PromptData AS (
    SELECT
        customer_id,
        recommendation_rank,
        product_title,
        prompt
    FROM
        `{TEMP_EVAL_TABLE}`
),
GeminiOutput AS (
    SELECT
        ml_generate_text_llm_result AS raw_json_output,
        prompt AS original_prompt_text
    FROM
        ML.GENERATE_TEXT(
            MODEL `{GEMINI_MODEL_NAME}`,
            (SELECT prompt FROM PromptData),
            STRUCT(0.5 AS temperature, 1024 AS max_output_tokens, TRUE AS flatten_json_output)
        )
),
JoinedOutput AS (
    SELECT
        t1.customer_id,
        t1.recommendation_rank,
        t1.product_title,
        t2.raw_json_output
    FROM
        PromptData AS t1
    JOIN
        GeminiOutput AS t2
        ON t1.prompt = t2.original_prompt_text
)
SELECT
    j.customer_id,
    j.recommendation_rank,
    j.product_title,
    j.raw_json_output AS gemini_raw_evaluation,
    CAST(JSON_EXTRACT_SCALAR(TRIM(REGEXP_REPLACE(j.raw_json_output, r'(?i)(^```json\\s*|\\s*```$)', '')), '$.compatibility_score') AS INT64) AS compatibility_score,
    TRIM(JSON_EXTRACT_SCALAR(TRIM(REGEXP_REPLACE(j.raw_json_output, r'(?i)(^```json\\s*|\\s*```$)', '')), '$.reasoning')) AS evaluation_reasoning
FROM
    JoinedOutput AS j
ORDER BY
    j.customer_id, j.recommendation_rank;
"""

run_bq_query(sql_batch_evaluation, client)
print(f"✅ 적합성 평가 테이블 `{PROJECT_ID}.{table_id_evaluation_output}` 생성 완료.")

print("\n--- 생성된 Gemini 평가 결과 미리보기 (5개) ---")
df_eval_results = run_bq_query(f"SELECT * FROM `{PROJECT_ID}.{table_id_evaluation_output}` LIMIT 5", client)
if df_eval_results is not None:
    with pd.option_context('display.max_colwidth', 500):
        display(df_eval_results)

Job f9817575-d71e-419d-8df6-d074d79d5ec5 in state RUNNING
Query for statement type CREATE_TABLE_AS_SELECT complete.
✅ 적합성 평가 테이블 `sigma-firmament-450004-r3.cymbal.gemini_recommendation_evaluation` 생성 완료.

--- 생성된 Gemini 평가 결과 미리보기 (5개) ---
Job b0c9d0ec-eb7b-4a85-9ad2-d9ef02e0ca57 in state DONE
Query complete. Fetched 5 rows.

,customer_id,recommendation_rank,product_title,gemini_raw_evaluation,compatibility_score,evaluation_reasoning
0,1005,1,Google Navy French Terry Zip Hoodie,"```json\n{\n ""product_title"": ""Google Navy French Terry Zip Hoodie"",\n ""product_categories"": [\n ""Apparel""\n ],\n ""compatibility_score"": 75,\n ""reasoning"": ""후드티는 트렌디하고 편안함을 추구하는 20대 초중반에게 적합합니다. Google 브랜드는 인지도가 높고, 네이비 색상은 무난하여 다양한 스타일에 매치하기 용이합니다. 가격이 관건입니다.""\n}\n```",75,"후드티는 트렌디하고 편안함을 추구하는 20대 초중반에게 적합합니다. Google 브랜드는 인지도가 높고, 네이비 색상은 무난하여 다양한 스타일에 매치하기 용이합니다. 가격이 관건입니다."
1,1005,1,Google Navy French Terry Zip Hoodie,"```json\n{\n ""product_title"": ""Google Navy French Terry Zip Hoodie"",\n ""product_categories"": [\n ""Apparel""\n ],\n ""compatibility_score"": 75,\n ""reasoning"": ""후드티는 편안함과 트렌디함을 동시에 추구하는 20대 초중반에게 적합합니다. Google 브랜드는 인지도가 높지만, 가격대가 가성비에 부합하는지, 디자인이 개성을 표현할 수 있는지가 중요합니다.""\n}\n```",75,"후드티는 편안함과 트렌디함을 동시에 추구하는 20대 초중반에게 적합합니다. Google 브랜드는 인지도가 높지만, 가격대가 가성비에 부합하는지, 디자인이 개성을 표현할 수 있는지가 중요합니다."
2,1005,2,Google Kids Playful Tee,"```json\n{\n ""product_title"": ""Google Kids Playful Tee"",\n ""product_categories"": [\n ""Apparel""\n ],\n ""compatibility_score"": 75,\n ""reasoning"": ""티셔츠는 트렌디하고 개성을 표현하기에 적합하며, Google 브랜드는 인지도가 높습니다. 'Playful'이라는 이름은 재미와 새로운 경험 추구에 부합합니다. 다만, 가격 정보가 없어 가성비 측면은 불확실합니다.""\n}\n```",75,"티셔츠는 트렌디하고 개성을 표현하기에 적합하며, Google 브랜드는 인지도가 높습니다. 'Playful'이라는 이름은 재미와 새로운 경험 추구에 부합합니다. 다만, 가격 정보가 없어 가성비 측면은 불확실합니다."
3,1005,2,Google Kids Playful Tee,"```json\n{\n ""product_title"": ""Google Kids Playful Tee"",\n ""product_categories"": ""[Apparel]"",\n ""compatibility_score"": 75,\n ""reasoning"": ""캐주얼한 티셔츠는 20대 초중반에게 어필할 수 있으며, Google 브랜드는 인지도가 높습니다. 'Playful'이라는 단어는 재미와 경험을 추구하는 페르소나에 부합합니다. 다만, 가격과 디자인이 중요하게 작용할 것입니다.""\n}\n```",75,"캐주얼한 티셔츠는 20대 초중반에게 어필할 수 있으며, Google 브랜드는 인지도가 높습니다. 'Playful'이라는 단어는 재미와 경험을 추구하는 페르소나에 부합합니다. 다만, 가격과 디자인이 중요하게 작용할 것입니다."
4,1005,3,Google Unisex Pride Eco-Tee Black,"```json\n{\n ""product_title"": ""Google Unisex Pride Eco-Tee Black"",\n ""product_categories"": [\n ""Apparel""\n ],\n ""compatibility_score"": 85,\n ""reasoning"": ""The t-shirt aligns well with the persona's values: it's trendy (Pride-themed), potentially affordable, and eco-friendly, appealing to their desire for sustainable consumption and self-expression. Unisex design broadens appeal.""\n}\n```",85,"The t-shirt aligns well with the persona's values: it's trendy (Pride-themed), potentially affordable, and eco-friendly, appealing to their desire for sustainable consumption and self-expression. Unisex design broadens appeal."